.wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-left: 10px;
}

.photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.btn_blue {
  background-color: rgb(22, 22, 99);
  color: white;
  border-radius: 7px;
  position: relative;
  left: 6.5px;
  margin-bottom: 8px;
}
.btn_red {
  background-color: rgb(253, 30, 78);
  color: white;
  border-radius: 7px;
  margin-bottom: 8px;
}
.name {
  color: rgb(77, 0, 77);
  font-size: large;
  margin-bottom: 17px;
}
