.dialogs {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
}
.textInput textarea {
  border-radius: 4px;
  margin-top: 200px;
  padding-right: 50px;
}
.textInput button {
  background-color: rgb(190, 250, 244);
  border-radius: 4px;
  margin-top: 4px;
}
