.nav {
  grid-area: n;
  display: flex;
  background-color: rgb(18, 100, 93);
}
.item {
  color: white;
  text-decoration: none;
  padding: 20px;
}
.lastItem {
  color: white;
  text-decoration: none;
  padding: 20px;
  padding-top: 100px;
}

.item.activeLink {
  color: rgb(233, 231, 125);
}
.lastItem.activeLink {
  color: rgb(233, 231, 125);
}
